@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');


.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: #1f1f1f;
}

:root {
    --main-color: #037D42;
}

.main-btn {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    background-color: #037D42;
    border-radius: 10px;
    text-decoration: none;
    line-height: 1;
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    min-height: 40px;
    align-items: center;
    transition: .35s ease;
    gap: 10px;

    &:hover {
        background-color: #036e3b;
    }
    &.trans-btn {
        text-align: center;
        background-color: transparent;
        border: 1px solid var(--main-color);
        color: var(--main-color);
        align-items: center;
    }
}

section {
    background-color: #f8f8f8;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title-text {
        font-size: 38px;
        line-height: 1.4;
        color: #1f1f1f;
        margin: 0;
        display: block;

    }
    .slider-nav {
        display: flex;
        align-items: center;
        gap: 10px;
        button {
            border: none;
            background-color: transparent;
            width: 50px;
            height: 50px;
            &:last-child {
                svg {
                    transform: rotate(180deg);
                }
            }
            svg {
                display: block;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
            }
            
        }
    }
}