@use 'normalize';
@use 'global';
@use 'components/header';
@use 'components/hero';
@use 'components/best';
@use 'components/sales';
@use 'components/why';
@use 'components/steps';
@use 'components/catalog';
@use 'components/partners';
@use 'components/feedback';
@use 'components/last';
@use 'components/footer';