@use 'normalize';
@use 'global';
@use 'components/header';
@use 'components/hero';
@use 'components/best';
@use 'components/sales';
@use 'components/why';
@use 'components/steps';
@use 'components/catalog';
@use 'components/partners';
@use 'components/feedback';
@use 'components/last';
@use 'components/footer';

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000030;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .35s ease;
    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        .popup__item {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
    // .popup__item

    &__item {
        max-width: 1200px;
        width: 100%;
        height: fit-content;
        background-color: #fff;
        box-sizing: border-box;
        position: relative;
        padding: 40px 60px;
        opacity: 0;
        transform: translateY(30px);
        visibility: visible;

        .popup-close-btn {
            position: absolute;
            top: 0;
            right: -80px;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
        .popup-item__body {
            display: flex;
            align-items: center;
            .img {
                max-width: 400px;
                width: 100%;
                display: flex;
                justify-content: center;
                margin-right: auto;
                img {
                    display: block;
                    max-width: 100%;
                }
            }
            .text {
                max-width: 520px;
                width: 100%;
                margin-left: 50px;
                h3 {
                    margin: 0;
                    display: block;
                    color: #1F1F1F;
                    opacity: .5;
                    box-sizing: border-box;
                    font-size: 20px;
                    margin-bottom: 30px;
                }
                ul {
                    display: block;
                    padding: 0;
                    margin: 0;
                    li {
                        padding-bottom: 15px;
                        margin-bottom: 15px;
                        border-bottom: 1px solid #00000020;
                        display: flex;
                        justify-content: space-between;
                        align-items: stretch;
                        &:last-child {
                            border-bottom: none;
                        }
                        span {
                            &:first-child {
                                color: #7D7D7D;
                                font-size: 16px;
                                display: block;
                                margin-right: 40px;
                            }
                            &:last-child {
                                color: #3D3D3D;
                                line-height: 1;
                                display: block;
                                text-align: right;
                            }
                        }
                    }
                }
                .action {
                    display: flex;
                    align-items: stretch;
                    gap: 10px;
                    >* {
                        max-width: 150px;
                        width: 100%;
                        box-sizing: border-box;
                        font-size: 16px;
                        border-radius: 2px;
                    }
                    span {
                        color: #000;
                    }
                    button {

                    }
                }
            }
        }
        .title {
            h2 {
                color: #1F1F1F;
                display: block;
                font-size: 38px;
                line-height: 1.2;
                font-family: 'Unbounded';
                margin: 0;
                
            }
        }
    }
}



.title {}

.popup-item {

    // .popup-item__body

    &__body {}
}

.img {}

.text {}

.action {}

.price {}

.main-btn {}

.trans-btn {}