.feedback {
  // .feedback__title
  padding: 100px 0;
  box-sizing: border-box;

  @media(max-width:920px) {
    padding: 60px 0;
  }
  @media(max-width:620px) {
    padding: 40px 0;
  }

  &__title {
    align-items: flex-end;
    margin-bottom: 50px;
    h2 {
      margin-bottom: 50px;
      &.title-text {
        margin-bottom: 50px;
      }
    }
    p {
      display: block;
      max-width: 360px;
      display: block;
      margin: 0;
      font-size: 16px;
    }
  }

  // .feedback__nav

  &__nav {
    display: flex;
    align-items: center;
    gap: 10px;
    button {
      border: none;
      background-color: transparent;
      width: 50px;
      height: 50px;
      cursor: pointer;
      &:last-child {
        svg {
          transform: rotate(180deg);
        }
      }
      svg {
        display: block;
      }
    }
  }

  // .feedback__slider

  &__slider {
    .swiper-wrapper {
        align-items: stretch;
    }
    .swiper-slide {
      display: flex;
      flex-direction: column;
      padding: 30px;
      background-color: #fff;
      border-radius: 10px;
      box-sizing: border-box;
      .name {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 25px;
        .img {
          display: block;
        }
        .fish {
          display: block;
          width: 30px;
          height: 30px;
          background-color: #d2d2d2;
          border-radius: 50%;
        }
        p {
          margin: 0;
          display: block;
          font-family: "Unbounded", sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: #000;
        }
      }
      .img {
      }
      .fish {
      }
      .text {
        margin-bottom: auto;
        p {
          margin: 0;
          display: block;
          font-size: 16px;
          color: #000;
        }
      }
      .name-text {
      }
      .stars {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        span {
            font-size: 20px;
            font-weight: 500;
            display: block;
            color: #000;
            font-family: 'Unbounded', sans-serif;
        }
      }
      .date {
        span {
            display: block;
            font-size: 16px;
            color: #7d7d7d;
        }
      }
    }
  }
}
