.header {
    padding: 20px 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px #0000001A;

    .container {
        display: flex;
        align-items: center;
    }

    .mobile-menu {
        display: none;
    }

    // .header__title

    &__title {
        max-width: 170px;
        margin-right: 20px;

        a {
            display: block;

            svg {
                display: block;
                width: 100%;
                box-sizing: border-box;
            }

            box-sizing: border-box;
            text-decoration: none;
            color: inherit;
        }
    }

    &__link-btn {
        padding: 11px 20px;
        box-sizing: border-box;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: var(--main-color);
        height: 40px;
        text-decoration: none;
        border-radius: 10px;
    }

    // .header__catalog

    &__catalog {
        margin-right: 20px;
    }

    // .header__services

    &__services {
        margin-right: 20px;
    }

    // .header__search

    &__search {
        margin-right: auto;

        form {
            max-width: 480px;
            display: flex;
            align-items: stretch;
            border-radius: 10px;
            background-color: #f8f8f8;

            input {
                padding: 14px 0 10px 20px;
                box-sizing: border-box;
                width: 100%;
                border: none;
                background-color: transparent;

                &:focus {
                    background-color: #fff;
                    outline: 1px solid #f8f8f8;
                }

            }

            button {
                padding: 10px 20px 10px 10px;
                background-color: transparent;
                cursor: pointer;
                border: none;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    // .header__action

    &__action {
        display: flex;
        align-items: center;

        .social-link {
            margin-right: 20px;
            color: inherit;
            text-decoration: none;
        }

        .phone-link {
            color: #1f1f1f;
            text-decoration: none;
            margin-right: 20px;
            box-sizing: border-box;
            font-weight: 400;
        }
    }

    &__mobile-btn {
        display: none;
    }
}

@media(max-width:1360px) {
    .header {
        &__title {
            max-width: 140px;
        }

        &__services {
            a {
                svg {
                    display: none;
                }
            }
        }
    }
}

@media(max-width:1200px) {
    .header {
        &__catalog {
            display: none;
        }

        &__services {
            display: none;
        }

        &__action {
            .social-link {
                display: none;
            }
        }

        position: relative;

        .mobile-menu {
            display: block;
            box-shadow: 0 0 10px #00000010;
            max-width: 260px;
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: 10;
            right: 15px;
            background-color: #fff;
            padding: 20px 15px 10px;
            border-radius: 10px;
            transition: .35s ease;
            top: calc(100% - 30px);
            right: 0;
            opacity: 0;
            visibility: hidden;
            clip-path: circle(0% at 100% 0%);
            transition:
                clip-path .4s cubic-bezier(.4, 0, .2, 1),
                opacity .25s ease;
            will-change: clip-path;

            &.active {
                opacity: 1;
                visibility: visible;
                right: 15px;
                top: 100%;

                clip-path: circle(150% at 100% 0%);
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;

                li {
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        color: #000;
                        padding: 5px 0;
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
            }

            .links {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;

                a {
                    padding: 10px 15px;
                    font-size: 14px;
                    height: fit-content;
                    min-height: 0;
                }
            }

            a {
                svg {
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                }
            }

            .info {
                display: flex;
                gap: 20px;

                a {
                    fill: var(--main-color);
                    width: 30px;
                    height: 30px;
                }
            }
        }

        &__mobile-btn {
            display: block;
            margin-left: 20px;

            button {
                width: 50px;
                height: 30px;
                position: relative;
                border: none;
                background-color: transparent;
                padding: 2px;
                box-sizing: border-box;

                &::before {
                    content: '';
                    position: absolute;
                    right: 2px;
                    top: 2px;
                    width: calc(100% - 4px);
                    pointer-events: none;
                    height: 2px;
                    background-color: var(--main-color);
                    transition: .35s ease;
                }

                &::after {
                    content: '';
                    position: absolute;
                    right: 2px;
                    bottom: 2px;
                    width: calc(50% - 4px);
                    pointer-events: none;
                    height: 2px;
                    background-color: var(--main-color);
                    transition: .35s ease;
                }

                span {
                    position: absolute;
                    right: 2px;
                    top: calc(50% - 1px);
                    width: calc(75% - 4px);
                    pointer-events: none;
                    height: 2px;
                    background-color: var(--main-color);
                    transition: .35s ease;
                }
                &.active {
                    &::before {
                        top: calc(50% - 1px);
                        transform: rotate(45deg);
                    }
                    &::after {
                        bottom: calc(50% - 1px);
                        transform: rotate(-45deg);
                        width: calc(100% - 4px);
                    }
                    span {
                        opacity: 0;
                    }
                }

            }
        }
    }
}

@media(max-width:920px) {
    .header {
        &__action {
            display: none;
        }
    }
}

@media(max-width:620px) {
    .header {
        padding: 15px 0;

        &__title {
            margin-right: auto;
        }

        &__search {
            display: none;
        }
    }
}