.header {
    padding: 20px 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px #0000001A;

    .container {
        display: flex;
        align-items: center;
    }

    // .header__title

    &__title {
        max-width: 170px;
        margin-right: 20px;

        a {
            display: block;

            svg {
                display: block;
                width: 100%;
                box-sizing: border-box;
            }

            box-sizing: border-box;
            text-decoration: none;
            color: inherit;
        }
    }

    &__link-btn {
        padding: 11px 20px;
        box-sizing: border-box;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: var(--main-color);
        height: 40px;
        text-decoration: none;
        border-radius: 10px;
    }

    // .header__catalog

    &__catalog {
        margin-right: 20px;
    }

    // .header__services

    &__services {
        margin-right: 20px;
    }

    // .header__search

    &__search {
        margin-right: auto;
        form {
            max-width: 480px;
            display: flex;
            align-items: stretch;
            border-radius: 10px;
            background-color: #f8f8f8;
            input {
                padding: 14px 0 10px 20px;
                box-sizing: border-box;
                width: 100%;
                border: none;
                background-color: transparent;
                &:focus {
                    background-color: #fff;
                    outline: 1px solid #f8f8f8;
                }
                
            }

            button {
                padding: 10px 20px 10px 10px;
                background-color: transparent;
                cursor: pointer;
                border: none;
                svg {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    // .header__action

    &__action {
        display: flex;
        align-items: center;
        .social-link {
            margin-right: 20px;
            color: inherit;
            text-decoration: none;
        }
        .phone-link {
            color: #1f1f1f;
            text-decoration: none;
            margin-right: 20px;
            box-sizing: border-box;
            font-weight: 400;
        }
    }
}

.container {}

.social-link {}

.phone-link {}

.main-btn {}