.former {
  // .former__item
  padding: 50px 0;
  box-sizing: border-box;

  &__item {
    box-shadow: 0px 0px 20px 0px #00000040;
    box-sizing: border-box;
    padding: 40px 45px;
    border-radius: 10px;
    background-image: url(../../assets/imgs/decor-black.png);
    background-size: auto;
    background-position: left center;
    background-repeat: no-repeat;
  }

  // .former__body

  &__body {
    display: flex;

    form {
      max-width: 580px;
      min-width: 420px;
      display: flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      background-color: #00000005;
      border-radius: 10px;
      padding: 40px;
      margin-left: 20px;

      label {
        margin-bottom: 25px;
        display: block;

        span {
          display: block;
          font-size: 18px;
          color: #000;
          line-height: 1.3;
          font-weight: 400;
        }

        input {
          display: block;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid #00000010;
          background-color: #00000005;
          padding: 10px 5px;
        }
      }

      .action {
        button {
          max-width: none;
          width: 100%;
          text-align: center;
        }

        p {
          display: block;
          font-size: 12px;
          color: #333;
          line-height: 1;
          margin: 0;
          margin-top: 10px;
        }
      }
    }

    .text {
      max-width: 740px;

      h2 {
        font-size: 38px;
        font-weight: 700;
        font-family: "Unbounded";
        line-height: 1;

        span {
          color: var(--main-color);
        }

        margin: 0;
        display: block;
        margin-bottom: 30px;
      }

      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        display: block;
        margin: 0;
        margin-bottom: 30px;
      }

      .text-decor {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;

        a {
          color: inherit;
          text-decoration: none;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .decor {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #00000020;
          padding: 14px;
          border-radius: 50%;

          svg {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
}

@media(max-width:1200px) {
  .former {
    &__body {
      .text {
        h2 {
          font-size: 32px;
        }
      }
    }
  }
}

@media(max-width:920px) {
  .former {
    padding: 60px 0;
    box-sizing: border-box;

    &__item {
      background-position: top left;
      background-size: 240px auto;

    }

    &__body {
      flex-direction: column;

      .text {
        max-width: none;
        width: 100%;
        margin: 0 0 40px;
      }

      form {
        box-sizing: border-box;
        label {
          box-sizing: border-box;
          input {
            box-sizing: border-box;
          }
        }
        width: 100%;
        box-sizing: border-box;
        min-width: 0;
        margin: 0;
        max-width: none;
      }
    }
  }
}

@media(max-width:620px) {
  .former {
    &__item {
      padding: 20px;
      padding-top: 40px;
      box-shadow: none;
      padding: 0;
      background-color: transparent;
    }
    &__body {
       .text {
        h2 {
          font-size: 24px;
          p {
            font-size: 16px;
          }
        }
       }
       form {
        padding: 0;
        background-color: transparent;
       }
    }
  }
}