.partners {
    padding: 100px 0;
    box-sizing: border-box;

    // .partners__title

    &__title {
        h2 {
            margin: 0;
            display: block;
            font-weight: 500;
            font-size: 38px;
            color: #3d3d3d;
            text-align: center;
            line-height: 1.2;
            font-family: 'Unbounded', sans-serif;

            @media(max-width:1200px) {
                font-size: 36px;
            }

            @media(max-width:920px) {
                font-size: 32px;
            }

            @media(max-width:620px) {
                font-size: 24px;
            }
        }
    }

    // .partners__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -15px;
        margin-top: 40px;

        .item {
            box-sizing: border-box;
            margin: 0 15px 30px;
            width: calc(20% - 30px);

            img {
                display: block;
                width: 100%;
            }
        }
    }
}

@media(max-width:920px) {
    .partners {
        padding: 60px 0;

        &__items {
            .item {
                width: calc(25% - 30px);
            }
        }
    }
}

@media(max-width:620px) {
    .partners {
        padding: 40px 0;

        &__items {
            .item {
                width: calc(50% - 30px);
            }
        }
    }
}