.steps {
    padding: 100px 0;
    box-sizing: border-box;
    background-image: url(../../assets/imgs/decor-black.png);
    background-size: auto;
    background-position: right center;
    background-repeat: no-repeat;
    // .steps__title

    &__title {}

    .items {
        display: flex;

        .item {
            color: var(--main-color);

            box-sizing: border-box;
            padding: 35px;
            border-radius: 0 100px 0 0;

            font-family: 'Unbounded';
            width: 25%;
            transition: .35s ease;

            &:hover {
                color: #fff;
                background-color: var(--main-color);

                p {
                    color: #fff;
                }
            }

            span {
                font-weight: 500;
                font-size: 128px;
                line-height: 100%;
                display: block;
                transition: .35s ease;

                margin-bottom: 10px;
            }

            h3 {
                display: block;
                font-size: 24px;
                line-height: 1;
                font-weight: 500;
                transition: .35s ease;

            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                line-height: 1;
                margin: 0;
                transition: .35s ease;
                display: block;
                color: #7A7A7A;
            }
        }
    }
}

@media(max-width:1200px) {
    .steps {
        .items {
            flex-wrap: wrap;
            .item {
                width: 50%;
                span {
                    font-size: 92px;
                }
            }
        }
    }
}
@media(max-width:920px) {
    .steps {
        padding: 60px 0;
        .items {
            flex-wrap: wrap;
            .item {
                width: 50%;
                padding: 20px;
                span {
                    font-size: 64px;
                }
            }
        }
    }
}
@media(max-width:620px) {
    .steps {
        padding: 40px 0;
        .items {
            margin-top: 20px;
            flex-wrap: wrap;
            .item {
                border-radius: 0 35px 35px 35px;
                width: 100%;
                margin-bottom: 10px;
                background-color: var(--main-color);
                color: #fff;
                p {
                    color: #fff;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                span {
                    font-size: 48px;
                }
            }
        }
    }
}