.why {
    padding: 100px 0;
    // .why__body
    background-image: url(/assets/imgs/decor-black.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center left;
    &__body {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        .text {
            max-width: 500px;
            margin-right: auto;
            h3 {
                font-weight: 500;
                font-family: 'Unbounded', sans-serif;
                font-size: 38px;
                color: #1f1f1f;
                line-height: 1.3;
                margin: 0;
                display: block;
                margin-bottom: 30px;
            }

            p {
                margin: 0;
                display: block;
                color: #1f1f1f;
                line-height: 1.4;
                font-weight: 400;
                margin-bottom: 30px;
            }

            a {}
        }

        .list {
            width: 80%;
            max-width: 1022px;
            margin-left: 50px;
            .item {
                display: flex;
                padding-bottom: 20px;
                border-bottom: 1px solid #1f1f1f30;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                    border-bottom: none;
                }
                .item-name {
                    margin-right: auto;
                    h3 {
                        font-family: 'Unbounded', sans-serif;
                        margin: 0;
                        display: block;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 1.3;
                        color: #1f1f1f;
                        display: block;
                    }
                }
                .item-text {
                    max-width: 460px;
                    width: 100%;
                    box-sizing: border-box;
                    margin-left: 30px;
                    p {
                        display: block;
                        margin: 0;
                        font-weight: 300;
                        font-size: 18px;
                        opacity: .7;
                    }
                }
            }
        }
    }
}
